@import tailwind-variables

.ant-breadcrumb.noti-breadcrumb
	height: 16px
	display: flex
	align-items: center
	.last
		span
			font-weight: $fontWeight-bold !important
	.ant-breadcrumb-separator
		margin: 0
	span
		display: flex
		align-items: center
		height: 16px
