@import tailwind-variables
@import "variables"

.ant-breadcrumb.noti-breadcrumb
	min-height: 24px
	display: flex
	align-items: center
	a
		@include baseOutlineStyle()
		&:hover
			color: $textColor-notino-black
			background-color: transparent
		&:focus-visible
			@include focusOutlineStyle()
	ol
		height: 100%
		display: flex
		align-items: center
		li
			min-height: 24px
			height: 100%
			display: flex
			align-items: center
			line-height: 24px
	.last
		display: inline
		span
			display: inline-block
			font-weight: $fontWeight-bold !important
			word-break: break-all
			line-height: 24px
	.ant-breadcrumb-separator
		margin: 0
		height: 16px

.breadcrumb-back-btn
	a
		border-radius: 2px
		@include baseOutlineStyle()
		&:focus-visible
			@include focusOutlineStyle()
