@import tailwind-variables
@import "variables"

@keyframes content-animation
	0%
		// left: -50px
		opacity: 0
	100%
		// left: 0
		opacity: 1

@keyframes calendar-select-panel-animation
	0%
		transform: translateX(100%)
	100%
		transform: translateX(0)


@mixin scrollbar-styles
	@media (pointer:fine)
		&::-webkit-scrollbar
			background: transparent
			// height: 8px
			// width: 8px
		&::-webkit-scrollbar-thumb
			border-bottom: 4px solid #fff
			border-left: 4px solid #fff
			border-right: 4px solid #fff
			border-top: 4px solid #fff
		&::-webkit-scrollbar-thumb
			border: none
			box-shadow: none
			background: $backgroundColor-notino-white
			min-height: 40px
			// border-radius: 8px
		&::-webkit-scrollbar-track
			background: #fff


@mixin hide-scrollbar
	&::-webkit-scrollbar
		display: none

// calendar layout
.noti-calendar-layout
	height: 100%

	// header
	.nc-header
		background: $backgroundColor-notino-white
		height: 80px
		display: flex
		align-items: center
		padding: 16px
		border-bottom: 1px solid $borderColor-notino-grayLight
		line-height: unset
		gap: 8px
		position: sticky
		top: 64px
		z-index: 3
		.nav-left
			flex: 1 1 50%
			display: flex
			align-items: center
			gap: 16px
		.nav-middle
			display: flex
			align-items: center
		.nav-right
			flex: 1 1 50%
			display: flex
			align-items: center
			justify-content: flex-end
		.nc-header-date-picker
			height: 0
			line-height: 0
			padding-bottom: 0
			.ant-form-item-row
				height: 0
			.ant-form-item-control,
			.ant-form-item-control-input,
			.ant-form-item-control-input-content
				line-height: 0
				min-height: 0
			.ant-picker
				padding: 0
				border: 0
				.ant-picker-input
					display: none

	// main section
	.noti-calendar-main-section
		height: calc(100vh - 144px)
		overflow-y: hidden
		position: sticky
		top: 144px
		z-index: 2

		// sider filter
		.nc-sider-filter
			background: $backgroundColor-notino-white
			height: 100%
			overflow-y: auto
			overflow-x: hidden
			transition: none
			position: relative
			&::after
				content: ''
				display: block
				position: absolute
				width: 1px
				right: 0
				top: 0
				bottom: 0
				background: $backgroundColor-notino-grayLight

		// sider event management
		.nc-sider-event-management
			background: $backgroundColor-notino-white
			height: 100%
			overflow: hidden
			transition: none
			position: relative
			&::after
				content: ''
				display: block
				position: absolute
				width: 1px
				left: 0
				top: 0
				bottom: 0
				background: $backgroundColor-notino-grayLight
			.nc-sider-event-management-header
				display: flex
				align-items: center
				gap: 8px
				height: 50px
				padding: 16px
				h2
					margin: 0
					font-size: 16px
					line-height: 18px
					white-space: nowrap
					overflow: hidden
					text-overflow: ellipsis
				.button-transparent
					box-shadow: none
					padding: 0
					border: 0
					height: 16px
					svg
						width: 16px
						height: 16px
			.nc-sider-event-management-content
				height: calc(100% - 50px) // 100% - .nc-sider-event-management-header
				overflow-y: auto
				overflow-x: hidden
				padding: 0 16px 16px 16px
				&.main-panel
					height: calc(100% - 114px) // 100% - .nc-sider-event-management-header - .nc-sider-event-management-footer
			.nc-sider-event-management-footer
				height: 64px
				padding: 8px 16px 16px 16px
				> button
					height: 40px
			.nc-select-options-panel
				position: absolute
				top: 0
				bottom: 0
				right: 0
				left: 0
				background: $backgroundColor-notino-white
				transform: translateY(100%)
				animation: calendar-select-panel-animation 150ms ease-in-out forwards

		// main content
		.nc-content
			background: $backgroundColor-notino-white
			height: 100%
			overflow: hidden
			position: relative
			.ant-spin-nested-loading
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				width: 100%
				height: 100%
				.ant-spin-container
					height: 100%
			.nc-content-animate
				position: absolute
				top: 0
				// left: -50px
				right: 0
				bottom: 0
				width: 100%
				height: 100%
				opacity: 0
				animation: content-animation 250ms ease-out forwards
				overflow: hidden
			.nc-calendar-week-wrapper
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				width: 100%
				height: 100%
				overflow-y: auto
				overflow-x: visible
	// other
	.nc-collapse
		background: transparent
		.nc-collapse-panel
			padding-bottom: 16px
			.ant-collapse-header
				padding: 4px 8px
				background: $backgroundColor-notino-grayLighter
				min-height: 0
				.ant-collapse-header-text
					font-size: 14px
					line-height: 16px
					font-weight: 600
					overflow: hidden
					text-overflow: ellipsis
					white-space: nowrap
					min-height: 0
					max-width: calc(100% - 24px)
				.ant-collapse-expand-icon
					svg
						right: 8px
						width: 12px
						height: 12px
						transform: translateY(-50%)
						transform-origin: center
						transition: transform 250ms ease-in-out
						&.is-active
							transform: translateY(-50%) rotate(180deg)
			.ant-collapse-content-box
				padding: 8px 0 0 8px
	.nc-button
		padding: 8px
		outline: none
		border-radius: 4px
		color: $textColor-notino-black
		font-size: 14px
		line-height: 16px
		font-weight: 400
		cursor: pointer
		transition: all 300ms ease-in-out
		height: 32px
		white-space: nowrap

		&.light
			background: $backgroundColor-notino-grayLighter
			border: none
			&:hover,
			&:focus-visible
				background-color: $backgroundColor-notino-grayLight
		&.bordered
			background: $backgroundColor-notino-white
			border: 1px solid $textColor-notino-grayLight
			&:hover,
			&:focus-visible
				background-color: $backgroundColor-notino-grayLight

	.nc-button-group
		background: $backgroundColor-notino-grayLighter
		padding: 2px
		border-radius: 4px
		button
			color: $textColor-notino-black
			background: transparent
			border-radius: 4px
			font-size: 14px
			line-height: 16px
			font-weight: 400
			border: none
			outline: none
			padding: 6px 10px
			cursor: pointer
			height: 28px
			transition: all 300ms ease-in-out
			&:not(.active)
				&:hover,
				&:focus-visible
					background-color: $backgroundColor-notino-grayLight
			&.active
				background: $backgroundColor-notino-white
				box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05)

	.nc-button-date
		color: $textColor-notino-black
		background: transparent
		border: 1px dashed transparent
		font-size: 16px
		line-height: 19px
		font-weight: 600
		outline: none
		display: flex
		align-items: center
		height: 32px
		gap: 4px
		white-space: nowrap
		cursor: pointer
		text-transform: capitalize
		transition: all 300ms ease-in-out
		&:focus-visible
			border-color: $borderColor-notino-gray

	.nc-select
		.nc-select-button
			min-height: 40px
			display: flex
			gap: 4px
			width: 100%
			padding: 12px
			font-size: 14px
			line-height: 16px
			font-weight: 400
			border-radius: 8px
			background: $backgroundColor-notino-grayLighter
			outline: none
			border: none
			cursor: pointer
			transition: all 300ms ease-in-out
			position: relative
			text-align: left
			&:hover,
			&:focus-visible
				background-color: $backgroundColor-notino-grayLight
			svg
				width: 16px
				height: 16px
				flex: 0 0 auto
			&::after
				content: url('../assets/icons/chevron-right-gray-dark-16.svg')
				margin-left: auto
				width: 16px
				height: 16px
				align-self: center

// full calendar
.fc-scrollgrid-section-sticky
	position: sticky
	background: white
	z-index: 20

.fc-timegrid-body
	background: $backgroundColor-notino-white

.fc .fc-timegrid-slot-minor
	border-top-color: transparent

.fc-theme-standard td
	border-color: $borderColor-notino-grayLight

.fc-day-today
	background: transparent !important

.fc .fc-highlight
	background: rgba($backgroundColor-notino-grayLight, 0.3)

.nc-bg-event
	position: relative
	width: 100%
	height: 100%
	opacity: 0.4
	background-size: 32px 32px
	background-position: top left
	&.not-set-availability,
	&.break
		background-image: url("../assets/images/gray-pattern-background.png")
	&.timeoff
		background-image: url("../assets/images/pink-pattern-background.png")

.fc-timegrid-col-bg
	.fc-timegrid-bg-harness
		.fc-bg-event
			opacity: 1
			background: transparent

// day view
.fc-resourceTimeGridDay-view
	> table.fc-scrollgrid
		border-color: transparent
		.fc-timegrid-now-indicator-arrow
			left: unset
			right: 1px
			width: 10px
			height: 10px
			background: $backgroundColor-notino-pink
			border-radius: 50%
			border: none
			transform: translateY(1px)
		.fc-timegrid-now-indicator-container
			right: -1px
			.fc-timegrid-now-indicator-line
				border-color: $backgroundColor-notino-pink
				border-top-width: 2px
		> thead
			.fc-col-header-cell
				border-bottom-color: transparent
				.fc-col-header-cell-cushion
					display: block
					width: 100%
					height: 100%
					padding: 0
			tr.fc-scrollgrid-section-header
				background: transparent
				> th:first-of-type
					// border-right: 1px solid transparent
					background: transparent
					.fc-timegrid-axis
						border-color: transparent
				> th:last-of-type
					border-right: 1px solid transparent
					border-bottom: 1px solid $borderColor-notino-grayLight
					> .fc-scroller-harness
						> .fc-scroller
							@include scrollbar-styles
							// overflow: visible !important
							// margin-bottom: 0 !important
		> tbody
			> tr.fc-scrollgrid-section-body
				// vyska najmenjsieho casoveho intervalu - teda ak mam nastavenych 15minut - tak cela hodina bude 60px vysoka (4 x 15px)
				.fc-timegrid-slot
					line-height: 15px
					height: 15px
				> td:first-of-type
					border-bottom-color: transparent
					/* > .fc-scroller-harness
						overflow: visible
						.fc-scroller
							overflow: visible scroll !important
					.fc-timegrid-axis-chunk
						table tbody
							tr
								height: 15px
								.fc-timegrid-slot
									border-color: transparent
									.fc-timegrid-slot-label-frame
										.fc-timegrid-slot-label-cushion
											color: $textColor-notino-grayDarker
											font-size: 10px
											line-height: 12px
											padding: 0
											transform: translateY(-25%)
				> td:last-of-type
					border-color: transparent
					> .fc-scroller-harness
						> .fc-scroller
							// @include scrollbar-styles
							.fc-timegrid-cols
								.fc-timegrid-col
									.fc-timegrid-col-frame
										// events col
										.fc-timegrid-col-events
											.fc-timegrid-event-harness
												margin: 2px 4px 2px 2px
												.fc-timegrid-event
													background: transparent
													border: none
													box-shadow: none
													.fc-event-main
														padding: 0
		> tfoot
			> tr.fc-scrollgrid-section-footer
				> th:first-of-type
					> .fc-scroller-harness
						> .fc-scroller
							@include scrollbar-styles

	.nc-day-resource-label
		display: flex
		gap: 8px
		overflow: hidden
		align-items: center
		min-width: 0
		width: 100%
		text-align: left
		padding: 16px
		height: 56px
		.image
			border-radius: 50%
			flex: 0 0 auto
			border: 1px solid $borderColor-notino-grayLight
			background-position: center
		.name
			min-width: 0
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			max-width: 100%
			line-height: 13px
		.description
			font-size: 10px
			color: $textColor-notino-grayDark
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			max-width: 100%
			line-height: 11px
			font-weight: 400
		.absence-icon
			margin-left: auto
			height: 16px
			align-self: center

	.nc-day-slot-label
		width: 60px
		text-align: center

	.nc-day-event
		width: 100%
		height: 100%
		background: $backgroundColor-notino-white
		position: relative
		border-radius: 4px
		color: $textColor-notino-black
		font-size: 10px
		line-height: 11px
		overflow: hidden
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05)
		.event-background
			content: ''
			position: absolute
			top: 0
			right: 0
			left: 0
			bottom: 0
			background: $backgroundColor-notino-black
			z-index: 1
			opacity: 0.07
		.event-accent
			content: ''
			background: $backgroundColor-notino-black
			position: absolute
			top: 0
			bottom: 0
			left: 0
			width: 4px
			border-top-left-radius: 4px
			border-bottom-left-radius: 4px
			z-index: 2
		.event-content
			width: 100%
			height: 100%
			position: relative
			z-index: 3
			word-break: break-all
			.time
				font-weight: 400
				color: $textColor-notino-black
			.desc
				color: $textColor-notino-grayDarker
				font-weight: 400
			.title
				font-weight: 600
				color: $textColor-notino-black
		&.reservation
			.event-content
				padding: 2px 8px
				.time
					margin-right: 10px
			.service-icon
				width: 10px
				height: 10px
				position: absolute
				right: 4px
				top: 2px
				background-size: contain
				backgrounc-position: center center
				background-repeat: no-repeat
				background-image: url("../assets/icons/service-icon-10.svg")
			&.min-15,
			&.event-45
				.event-content
					.title
						margin-right: 10px
					.time
						display: none
		&.shift,
		&.timeoff,
		&.break
			.event-content
				padding: 4px
				display: flex
				flex-direction: column
				gap: 4px
				.title
					margin-top: 2px
				.time
					color: $textColor-notino-grayDark
				.avatar
					flex: 0 0 auto
					border: 1px solid $borderColor-notino-grayLight
				.duration
					display: inline-block
					white-space: nowrap
					word-break: keep-all
					margin-top: 4px
					color: $textColor-notino-grayDark
			&.min-15
				.event-content
					padding: 0 4px
					.title
						margin-top: 0
					.avatar
						display: none
					.duration
						margin-top: 0

		&.shift
			border: 1px solid $borderColor-notino-grayDark
		&.timeoff
			border: 1px solid $borderColor-notino-pink
			background: url("../assets/images/pink-pattern-background_40.png")
		&.break
			border: 1px solid $borderColor-notino-gray
			background: url("../assets/images/gray-pattern-background_40.png")

// week view
.fc-resource-timeline
	.fc-timeline-slot-minor
		border-color: transparent
	> table.fc-scrollgrid
		border-color: transparent
		> thead
			> tr.fc-scrollgrid-section-header
				> th:first-of-type
					border-right-color: transparent !important
					> .fc-scroller-harness
						> .fc-scroller
							overflow: visible !important
							> table.fc-datagrid-header
								> thead
									> tr
										> th.fc-datagrid-cell:first-of-type
											border-bottom-color: transparent
											width: 60px !important
				> td.fc-resource-timeline-divider
					user-select: none
					-moz-user-select: -moz-none
					visibility: hidden
					width: 0
				> th:last-of-type
					border-right-color: transparent !important
					> .fc-scroller-harness
						margin-left: -145px
						> .fc-scroller
							padding-left: 145px
							@include hide-scrollbar
							table.fc-scrollgrid-sync-table
								.fc-timeline-header-row
									.fc-timeline-slot-label
										border-left-color: transparent
										.fc-timeline-slot-frame
											overflow: visible
											.fc-timeline-slot-cushion
												display: block
												cursor: default
												pointer-events: none
												padding: 0
												width: 100%
												height: 100%
		> tbody
			> tr.fc-scrollgrid-section-body
				> td:first-of-type
					position: relative
					&::before
						content: ''
						position: absolute
						top: 0
						left: 55px
						width: 1px
						bottom: 0
						background: $borderColor-notino-grayLight
					> .fc-scroller-harness
						> .fc-scroller
							@include scrollbar-styles
							overflow: visible !important
							table.fc-datagrid-body
								> tbody > tr
									> .fc-datagrid-cell
										&:first-of-type:not(:last-of-type)
											.fc-datagrid-cell-frame
												position: relative
												.fc-datagrid-cell-cushion
													width: 100%
													height: 100%
													padding: 0
										&:last-of-type
											.fc-datagrid-cell-frame
												.fc-datagrid-cell-cushion
													padding: 0
													min-height: 45px
													.fc-datagrid-cell-main
														// height: 100%
														// display: block
				> td.fc-resource-timeline-divider
					user-select: none
					-moz-user-select: -moz-none
					visibility: hidden
					width: 0
				> td:last-of-type
					border-right-color: transparent !important
					/*> .fc-scroller-harness
						> .fc-scroller
							> .fc-timeline-body
								> .fc-timeline-slots
									.fc-timeline-slot-minor
										border-color: transaprent !important
					.fc-timeline-lane-frame
						min-height: 40px
						.fc-timeline-events
							padding-bottom: 5px
							.fc-timeline-event-harness
								// padding: 3px 4px 0 5px
						.fc-timeline-bg
							.fc-timeline-bg-harness
								.fc-bg-event
									background: transparent
									opacity: 1


.fc-timeline-event
	background-color: transparent
	height: 37px
	padding: 0
	border: 0
	margin: 3px 4px 0 3px
	.fc-event-main
		width: 100%
		height: 100%

		.nc-week-event
			width: 100%
			height: 100%
			background: $backgroundColor-notino-white
			position: relative
			border-radius: 4px
			color: $textColor-notino-black
			font-size: 10px
			line-height: 11px
			overflow: hidden
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05)
			min-width: 0
			.event-background
				content: ''
				position: absolute
				top: 0
				right: 0
				left: 0
				bottom: 0
				background: $backgroundColor-notino-black
				z-index: 1
				opacity: 0.07
			.event-accent
				content: ''
				background: $backgroundColor-notino-black
				position: absolute
				top: 0
				bottom: 0
				left: 0
				width: 4px
				border-top-left-radius: 4px
				border-bottom-left-radius: 4px
				z-index: 2
			.event-content
				width: 100%
				height: 100%
				position: relative
				z-index: 3
				overflow: hidden
			&.reservation
				.event-content
					padding: 2px 4px 2px 8px
					display: flex
					flex-direction: column
					gap: 4px
					justify-content: center
				.title
					font-weight: 600
					color: $textColor-notino-black
					white-space: nowrap
					overflow: hidden
				.desc
					white-space: nowrap
					overflow: hidden

.nc-week-slot-label
	color: $textColor-notino-grayDarker
	font-size: 10px
	line-height: 12px
	height: 24px
	display: flex
	align-items: center
	font-weight: 400
	width: fit-content
	transform: translateX(-50%)

.nc-week-label-day
	width: 100%
	height: 100%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	text-align: center
	font-size: 10px
	line-height: 11px
	font-weight: 400
	text-transform: capitalize
	span
		display: block
	&.is-today
		color: $textColor-notino-pink
		font-weight: 500

.nc-week-label-resource
	display: flex
	gap: 4px
	overflow: hidden
	align-items: center
	min-width: 0
	width: 100%
	text-align: left
	padding: 8px
	min-height: 45px
	.image
		border-radius: 50%
		flex: 0 0 auto
		border: 1px solid $borderColor-notino-grayLight
		background-position: center
		background-size: cover
		background-color: $backgroundColor-notino-gray
		width: 16px
		height: 16px
	.info
		line-height: 16px
	.absence-icon
		margin-left: auto
		align-self: center
