@import tailwind-variables
@import "variables"

.ant-form-item.noti-checkbox-group
	.ant-form-item-control-input-content
		.ant-checkbox-group
			.ant-checkbox-wrapper
				width: 100%
				.ant-checkbox
					& + span
						word-break: break-all
						transition: 300ms ease-in-out
					&::after
						display: none
					input[type='checkbox']
						&:focus-visible
							~ .ant-checkbox-inner
								// box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5)
								box-shadow: none
								@include focusOutlineStyle()
					.ant-checkbox-inner
						transition: 300ms ease-in-out
						@include baseOutlineStyle()
				&.ant-checkbox-wrapper-disabled
					.ant-checkbox-disabled
						.ant-checkbox-inner
							border-color: $borderColor-notino-gray
						&.ant-checkbox-checked
							.ant-checkbox-inner
								background-color: $borderColor-notino-gray
								&::after
									border-color: $borderColor-notino-grayLight
						& + span
							color: $textColor-notino-gray
	&.noti-checkbox-group-custom-color
		.ant-checkbox-group
			.ant-checkbox-wrapper
				.ant-checkbox
					.ant-checkbox-inner
						border-color: var(--checkbox-color)
					input[type='checkbox']
						&:focus-visible
							~ .ant-checkbox-inner
								box-shadow: none
								@include focusOutlineStyle(var(--checkbox-color))
					&.ant-checkbox-checked
						.ant-checkbox-inner
							background-color: var(--checkbox-color)
							border-color: var(--checkbox-color)
				&.ant-checkbox-wrapper-disabled
					.ant-checkbox-disabled
						background: $backgroundColor-notino-white
						.ant-checkbox-inner
							opacity: 0.6
							border-color: var(--checkbox-color)
						&.ant-checkbox-checked
							.ant-checkbox-inner
								opacity: 0.6
								background-color: var(--checkbox-color)
								border-color: var(--checkbox-color)
					&.noti-checkbox-group-rounded
						.ant-checkbox-disabled
							border-radius: 50%
	&.noti-checkbox-group-vertical
		.ant-checkbox-group
			display: flex
			flex-direction: column
			width: 100%
			gap: 8px
		.ant-checkbox-wrapper + .ant-checkbox-wrapper
			margin-left: 0
			margin-right: 0
	&.noti-checkbox-group-small
		.ant-form-item-control-input-content
			.ant-checkbox-group
				gap: 4px
				.ant-checkbox-wrapper
					.ant-checkbox
						input[type='checkbox']
							width: 12px
							height: 12px
						.ant-checkbox-inner
							width: 12px
							height: 12px
							&::after
								width: 3.5px
								height: 7px
								border-width: 2px
						& + span
							padding-right: 0
							font-size: 12px
	&.noti-checkbox-group-rounded
		.ant-checkbox-group
			.ant-checkbox-wrapper
				.ant-checkbox
					.ant-checkbox-inner
						border-radius: 50%
					&::after
						border-radius: 50%
	&.noti-checkbox-group-horizontal
		.ant-form-item-control-input-content
			.ant-checkbox-group
				gap: 8px
				.ant-checkbox-wrapper
					margin-left: 0
					width: unset
	&.noti-checkbox-group-hidden
		.ant-checkbox-group
			.ant-checkbox-wrapper
				.ant-checkbox
					display: none
					& + span
						padding-left: 0
						display: block
						width: 100%

// checkboxgroup with image
@keyframes opacityAnimation
	0%
		opacity: 0
	100%
		opacity: 1

.checkbox-group-image-fieldset
	.label-error-wrapper
		position: relative
		padding-bottom: 24px
		legend
			border-bottom: none
			color: $textColor-trueGray-700
			margin-bottom: 0
			&.required
				&::before
					display: inline-block
					margin-right: 4px
					color: #ff4d4f // interna antd farba ktora sa nenachadza v nasej palete
					font-size: 14px
					font-family: SimSun,sans-serif
					line-height: 1
					content: "*"

		.error-msg
			animation: opacityAnimation 200ms ease-in-out
			bottom: 6px
			position: absolute
			font-size: 14px
			font-size: 12px
	&.required
		.label-error-wrapper
			.error-msg
				margin-left: 12px


.checkbox-group-image-wrapper
	width: 100%
	margin: 0 auto
	display: grid
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
	grid-gap: 16px
	border-radius: 12px
	outline: 1px solid transparent
	outline-offset: 4px
	transition: outline-color 300ms ease-in-out

	&.error
		outline-color: $backgroundColor-notino-red


// checkboxgroup with image
@keyframes opacityAnimation
	0%
		opacity: 0
	100%
		opacity: 1

.checkbox-group-image-fieldset
	.label-error-wrapper
		position: relative
		padding-bottom: 24px
		legend
			border-bottom: none
			color: $textColor-trueGray-700
			margin-bottom: 0
			&.required
				&::before
					display: inline-block
					margin-right: 4px
					color: #ff4d4f // interna antd farba ktora sa nenachadza v nasej palete
					font-size: 14px
					font-family: SimSun,sans-serif
					line-height: 1
					content: "*"

		.error-msg
			animation: opacityAnimation 200ms ease-in-out
			bottom: 6px
			position: absolute
			font-size: 14px
			font-size: 12px
	&.required
		.label-error-wrapper
			.error-msg
				margin-left: 12px


.checkbox-group-image-wrapper
	width: 100%
	margin: 0 auto
	display: grid
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
	grid-gap: 16px
	border-radius: 12px
	outline: 1px solid transparent
	outline-offset: 4px
	transition: outline-color 300ms ease-in-out

	&.error
		outline-color: $backgroundColor-notino-red
