@import tailwind-variables

.noti-localizations-collapse-wrapper
	margin-bottom: 16px
	.ant-collapse.noti-localizations-collapse
		&.ant-collapse-borderless
			background-color: transparent
		.ant-collapse-item
			.ant-collapse-header
				padding: 0
		.ant-collapse-content-box
			padding: 0

