@import tailwind-variables
@import "variables"

.ant-form-item
	// Normal state
	.ant-picker.noti-date-input
		border-radius: 8px
		border: 1px solid $borderColor-notino-grayLight
		&:hover
			border: 1px solid $borderColor-notino-grayDark
		&.ant-picker-focused
			border: 1px solid $borderColor-notino-black
			box-shadow: $field-shadow-focus-default
		.ant-picker-input
			input::placeholder
				color: $textColor-notino-gray

	// Error state
	&.ant-form-item-has-error
		.ant-picker.noti-date-input
			&.ant-picker-focused
				border: 1px solid $borderColor-red-600
				box-shadow: $field-shadow-focus-error
		.ant-picker-suffix
			svg
				color: $textColor-notino-red !important
