@import "tailwind-variables"

.download
	z-index: 1085
	top: 0
	right: 364px
	width: 42px
	height: 46px
	display: flex
	justify-content: center
	align-items: center
	margin-right: 12px
	&:hover
		background: rgba(0, 0, 0, 0.2)
	& a svg path
		stroke: $backgroundColor-notino-white

svg.remove-icon-image
	& path
		stroke: $backgroundColor-notino-white
	& circle
		stroke: $backgroundColor-notino-white
		fill: $backgroundColor-notino-black
