@import tailwind-variables
@import "variables"

.ant-form-item
	.ant-input.noti-input
		border-radius: 8px
	// Vyhladavaci filter nad tabulami
	.noti-input-filter
		background-color: $backgroundColor-notino-grayLighter
		border-radius: 8px
		border: 1px solid $borderColor-notino-grayLight
		.ant-input-suffix
			display: none !important
		input
			color: $textColor-gray-900
			background-color: $backgroundColor-notino-grayLighter
			&::placeholder
				color: $borderColor-notino-gray
		&:hover
			border: 1px solid $borderColor-notino-grayDark
			background-color: $backgroundColor-notino-grayLight
			.ant-input-suffix
				display: flex !important
			input
				background-color: $backgroundColor-notino-grayLight
		&.ant-input-affix-wrapper-focused
			border: 1px solid $borderColor-notino-black
			box-sizing: border-box
			box-shadow: 0px 0px 0px 2px $field-shadow-focus-default
			background-color: $backgroundColor-notino-white
			input
				background-color: $backgroundColor-notino-white
			.ant-input-prefix
				svg
					color: $textColor-notino-black
			.ant-input-suffix
				display: flex !important

.ant-form-item:not(.ant-form-item-has-error)
	// Normal state
	.ant-input.noti-input
		border: 1px solid $borderColor-notino-grayLight
		&:hover
			border: 1px solid $borderColor-notino-grayDark
		&:focus
			border: 1px solid $borderColor-notino-black
			box-shadow: $field-shadow-focus-default
		&::placeholder
			color: $borderColor-notino-gray

// password field
.ant-form-item
	.ant-input-password.noti-input-password
		border-radius: 8px

.ant-form-item:not(.ant-form-item-has-error)
	// Normal state
	.ant-input-password.noti-input-password
		border: 1px solid $borderColor-notino-grayLight
		&:hover
			border: 1px solid $borderColor-notino-grayDark
		&.ant-input-affix-wrapper-focused
			border: 1px solid $borderColor-notino-black
			box-shadow: $field-shadow-focus-default
		.ant-input::placeholder
			color: $borderColor-notino-gray

.addon-before
	margin: 0
