@import tailwind-variables
@import "variables"

.ant-form-item
	.ant-input.tp-input
		border-radius: 8px

.ant-form-item:not(.ant-form-item-has-error)
	// Normal state
	.ant-input.tp-input
		border: 1px solid $borderColor-notino-grayLight
		&:hover
			border: 1px solid $borderColor-notino-grayDark
		&:focus
			border: 1px solid $borderColor-notino-black
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5)
		&::placeholder
			color: $borderColor-notino-gray
