@import tailwind-variables
@import "variables"


.ant-input-affix-wrapper-focused
	border: 1px solid $borderColor-notino-black
	box-sizing: border-box
	box-shadow: $field-shadow-focus-default
	background-color: $backgroundColor-notino-white

.ant-form-item
	.ant-input.noti-input, .noti-input
		border-radius: 8px
	// Vyhladavaci filter nad tabulami
	.noti-input-filter
		background-color: $backgroundColor-notino-grayLighter
		border-radius: 8px
		border: 1px solid $borderColor-notino-grayLight
		.ant-input-suffix
			display: none !important
		input
			color: $textColor-gray-900
			background-color: $backgroundColor-notino-grayLighter
			font-size: 0.875rem
			padding-left: 8px
			&::placeholder
				color: $borderColor-notino-gray
		&:hover
			border: 1px solid $borderColor-notino-grayDark
			background-color: $backgroundColor-notino-grayLight
			.ant-input-suffix
				display: flex !important
			input
				background-color: $backgroundColor-notino-grayLight
		&.ant-input-affix-wrapper-status-error
			input
				color: $textColor-red-600
		&.ant-input-affix-wrapper-focused
			border: 1px solid $borderColor-notino-black
			box-sizing: border-box
			box-shadow: $field-shadow-focus-default
			background-color: $backgroundColor-notino-white
			input
				background-color: $backgroundColor-notino-white
			.ant-input-prefix
				svg
					color: $textColor-notino-black
			.ant-input-suffix
				display: flex !important
	&.form-item-disabled
		.ant-input-prefix
			svg
				filter: brightness(0) saturate(100%) invert(66%) sepia(7%) saturate(473%) hue-rotate(179deg) brightness(99%) contrast(86%)

// input field
.ant-form-item:not(.ant-form-item-has-error)
	// Normal state
	.ant-input.noti-input
		border: 1px solid $borderColor-notino-grayLight
		&:not(:disabled)
			&:hover
				border: 1px solid $borderColor-notino-grayDark
			&:focus
				border: 1px solid $borderColor-notino-black
				box-shadow: $field-shadow-focus-default
			&::placeholder
				color: $borderColor-notino-gray !important

// password field
.ant-form-item
	.ant-input-password.noti-input-password
		border-radius: 8px

.ant-form-item:not(.ant-form-item-has-error)
	// Normal state
	.ant-input-password.noti-input-password
		border: 1px solid $borderColor-notino-grayLight
		&:not(:disabled)
			&:hover
				border: 1px solid $borderColor-notino-grayDark
			&.ant-input-affix-wrapper-focused
				border: 1px solid $borderColor-notino-black
				box-shadow: $field-shadow-focus-default
			.ant-input::placeholder
				color: $borderColor-notino-gray

.ant-form-item
	&.ant-form-item-has-error
		// error state
		.ant-input-password.noti-input-password
			&.ant-input-affix-wrapper-focused
				border: 1px solid $borderColor-red-600
				box-shadow: $field-shadow-focus-error

.addon-before
	margin: 0

span.ant-input-suffix svg circle
	fill: $borderColor-notino-black

// Masked input
.ant-form-item
	.noti-input-masked
		&--large
			padding: 6.5px 11px
			font-size: 16px
