@import tailwind-variables
@import "variables"

.ant-form-item
	.ant-input.noti-input, .noti-input-number
		border-radius: 8px
		.ant-input-number-handler-wrap
			border-radius: 8px
		.ant-input-number-handler-up
			border-top-right-radius: 8px
		.ant-input-number-handler-down
			border-bottom-right-radius: 8px

.ant-form-item:not(.ant-form-item-has-error)
	// Normal state
	.ant-input-number.noti-input-number
		&.ant-input-number-focused
			border: 1px solid $borderColor-notino-black
			box-shadow: $field-shadow-focus-default
		&:not(.ant-input-number-disabled):hover
			border: 1px solid $borderColor-notino-grayDark
		.ant-input-number-input
			&::placeholder
				color: $borderColor-notino-gray
		&.ant-input-number-disabled
			.ant-input-number-input
				color: #9CA3AF

.ant-form-item
	// Error state
	&.ant-form-item-has-error
		.ant-input-number.noti-input-number
			&.ant-input-number-focused
				border: 1px solid $borderColor-red-600
				box-shadow: $field-shadow-focus-error
