@import tailwind-variables

$vertical-header-spacing: 8px
$right-left-layout-spacig: 16px
$layout-height: 720px
$inner-padding: 45px

// Simple layout - Landing page
.simple-layout
	overflow: auto
	background: $backgroundColor-notino-grayLight

	.layout-content
		box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.21)
		height: $layout-height
		max-width: 1280px
		min-width: 744px

	.ant-carousel
		height: calc(#{$layout-height} - (2*#{$inner-padding})) // 630px

	.cover
		object-fit: cover
		width: 100%
		height: 100%

	.content
  		background-color: rgba(255,255,255,.8)
  		border-radius: .25em
  		box-shadow: 0 0 .25em rgba(0,0,0,.25)
  		box-sizing: border-box
  		left: 50%
  		padding: 10vmin
  		position: fixed
  		text-align: center
  		top: 50%
  		transform: translate(-50%, -50%)

// Main layout
.ant-layout.tp-layout
	min-height: 100vh
	background-color: $backgroundColor-gray-50
	.tp-layout-header
		z-index: $z-index-fixed-header
		position: relative
		padding: $vertical-header-spacing
		border-bottom: 1px solid $borderColor-gray-100
		height: $header-height
		background-color: $backgroundColor-white
		.header-logo
			z-index: $zIndex-10
			position: absolute
		.menu-dropdown-wrapper
			padding: 0px 8px
			border-radius: 44px
			display: inline-flex
			&:hover,
			&.ant-dropdown-open
				cursor: pointer
				background-color: $backgroundColor-gray-200
				svg.chevron
					color: $textColor-blue-600 !important
		// Menu
		.tp-layout-menu
			background-color: $backgroundColor-white
			color: $textColor-gray-600
			font-size: 14px
			font-weight: 600
			border-bottom: none
			margin-top: 7px
			&.ant-menu-horizontal
				line-height: 15px
			.ant-menu-submenu
				.ant-menu-submenu-title
					padding-bottom: 10px
			ul.ant-menu
				border-bottom: none
				height: $header-height
				margin-top: -16px
			li.ant-menu-overflow-item
				display: flex
				align-items: center
				&:hover
					color: $textColor-gray-900
			.ant-menu-submenu-title
				&:hover
					color: $textColor-gray-900
			.ant-menu-submenu-active,
			.ant-menu-submenu-selected
				background: none
				.ant-menu-submenu-title
					color: $textColor-gray-900

	.tp-content
		padding: $header-height $right-left-layout-spacig 0 $right-left-layout-spacig
		.content-header
			// NOTE: ak by v headeri bol niekedy nejaky koncet ktory musi byt vedla seba a nie pod seba ako je takto defaultne tak pretazit nejakou classou flex-direction na row
			display: flex
			flex-direction: column
			justify-content: space-between
			z-index: $z-index-content-header
			position: sticky
			top: 12px
			min-height: 76px // Miesto potrebne pre breadcrumbs + Button / Tabs + spacing medzi breadcrumbami a buttonami / tabami
			margin: -$vertical-header-spacing -24px 16px -24px
			box-shadow: $boxShadow-lg
			background-color: $backgroundColor-white
			padding: 8px 24px 8px 24px
			width: calc(100% + 40px)
		// Content
		.content-body
			background: $backgroundColor-white
			padding: 8px
			border-radius: 4px
			box-shadow: $boxShadow-xl
			margin-bottom: 24px
			width: 100%
			&.floating // cena sirka aj vyska bez marginov / paddingov so sedym pozadim na ktore idu biele formy a ine informacie (eg: dokoncenie-rezervacie)
				min-height: calc(100vh - #{$header-height} - 80px - 56px) // 100vh - header - breadcrumbs - footer
				margin-bottom: 0
				padding: 0
				width: calc(100% + 38px)
				background: $backgroundColor-gray-50
				margin: -16px -24px -24px -24px
				.floating-content-wrapper
					min-height: calc(100vh - #{$header-height} - 80px - 56px)
			&.small
				width: 50%
				margin: 0 auto
			&.medium
				width: 75%
				margin: 0 auto
			&.without-content-footer
				.floating-content-wrapper
					min-height: calc(100vh - 80px - 81px) // 100vh - header - breadcrumbs
			@media (max-width: 1700px)
				&.small
					width: 75%
			@media (max-width: 1200px)
				&.small, &.medium
					width: 100%
			// footer
			.content-footer
				position: sticky
				bottom: 0
				border-bottom-left-radius: 4px
				border-bottom-right-radius: 4px
				height: $footer-height
				width: calc(100% + 16px)
				margin-left: -8px
				margin-top: 24px
				margin-bottom: -24px
				background: $backgroundColor-gray-50
				padding: 10px 24px 10px 24px
				z-index: $z-index-five
.tp-dropdown-header
	top: $header-height !important
	box-shadow: $boxShadow-lg
// Dropdown pre MENU
.tp-layout-popup
	.ant-menu.ant-menu-sub
		border-radius: 0 0 4px 4px
		background: $backgroundColor-white
		padding: 4px
	li.ant-menu-item
		display: flex
		align-items: center
		margin-top: 8px
		padding: 10px 16px 10px 16px
		&:first-child
			margin-top: 0
		&.ant-menu-item-selected
			background-color: transparent !important
			&:hover
				svg, span.ant-menu-title-content
					color: $textColor-blue-600 !important
			svg, span.ant-menu-title-content
				color: $textColor-blue-600 !important
		&:hover
			background-color: $backgroundColor-gray-100 !important
			border-radius: 4px
			svg, span.ant-menu-title-content
				color: $textColor-gray-900 !important
	.ant-menu-title-content
		color: $textColor-gray-600

// Avatar
.avatar
	flex-shrink: 0
	height: 120px
	width: 120px
	border-radius: 50%
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	border: 1px solid $borderColor-gray-100
	box-shadow: $boxShadow-lg
	&.small
		height: 28px
		width: 28px
