@import tailwind-variables
@import "variables"

.ant-select
	span.ant-select-clear
		& svg
			width: 12px
			height: 12px
			& circle
				fill: $backgroundColor-notino-black
.ant-form-item
	.ant-select.noti-select-input
		.ant-select-selector
			border-radius: 8px

.ant-form-item:not(.ant-form-item-has-error)
	// Normal state
	.ant-select.noti-select-input
		.ant-select-selector
			border: 1px solid $borderColor-notino-grayLight
		&.ant-select-focused .ant-select-selector
			border: 1px solid $borderColor-notino-black
			box-shadow: $field-shadow-focus-default
		&:not(.ant-select-disabled):hover .ant-select-selector
			border: 1px solid $borderColor-notino-grayDark

.ant-select-item
	&.ant-select-item-option-selected
		color: $textColor-white
		font-weight: $fontWeight-normal
		display: flex
		justify-content: space-between
	&.ant-select-item-option
		&.ant-select-item-option-active
			color: $textColor-notino-white
			background: $backgroundColor-notino-black
			& span.ant-select-item-option-state svg path
				stroke: $backgroundColor-notino-white
		& .ant-select-item-option-selected
			color: $textColor-white
			font-weight: $fontWeight-normal
			display: flex
			justify-content: space-between
		& span.ant-select-item-option-state
			height: 24px
			& svg path
				stroke: $backgroundColor-notino-black

.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
		color: $textColor-notino-black
		font-weight: 400
		background-color: $backgroundColor-notino-grayLight

.ant-select-multiple
	span.ant-select-selection-item-remove svg path
		stroke: $backgroundColor-notino-black
	& .ant-select-selection-item-remove
		justify-content: center
		align-items: center
		display: flex

.language-picker-icon
	margin-right: 5px

.language-picker-img
	width: 24px
	margin-right: 5px

.language-picker-select
	.ant-row
		align-items: center
	span.ant-select-selection-item
		display: flex
		align-items: center

