@import tailwind-variables
@import "variables"

// Basic table
.noti-table
	.ant-table-title
		padding: 8px 16px
	// Fixed table styles
	.ant-table-thead
		font-size: 12px
	.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td
		padding: 4px
	&.table-fixed
		.ant-table-thead > tr > th
			position: sticky
			top: 0
			z-index: 2
			height: 30px
		.ant-pagination
			display: flex
			align-items: center
			position: sticky
			bottom: 0
			border-bottom-left-radius: 4px
			border-bottom-right-radius: 4px
			min-height: $footer-table-height
			width: calc(100% + 48px)
			margin-left: -24px
			margin-top: 24px
			margin-bottom: -24px
			background: $backgroundColor-gray-50
			border-top: 1px solid $borderColor-gray-100
			padding: 4px 32px
			z-index: $z-index-five
	.ant-table-ping-left
		td:after
			box-shadow: none !important
			width: 64px
			background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%)
		th:after
			box-shadow: none !important
			width: 64px
			background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%)
	.ant-table-ping-right
		.ant-table-container:after
			box-shadow: none !important
			width: 64px
			background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%)
			border-radius: 4px 0px 0px 0px
			transform: rotate(-180deg)
	&.two-tone-table-style
		.ant-table-row:nth-child(2n)
			background: $textColor-gray-50
	table
		border-spacing: 0 4px
		// Header tabulky
		thead
			tr
				th
					font-weight: 700
					background: $backgroundColor-white !important
					border-bottom: 1px solid $borderColor-gray-200
					&:before
						content: none !important // hidne divider
				th.ant-table-column-has-sorters
					padding-left: 0
					&:hover
						background: none
						.ant-table-column-sorter
							.anticon-caret-up, .anticon-caret-down
								display: block !important
						.ant-table-column-title
							color: $textColor-notino-black
					.ant-table-column-sorters
						justify-content: flex-start
						.ant-table-column-sorter
							position: relative
							.anticon-caret-up:not(.active), .anticon-caret-down:not(.active)
								display: none
							.anticon-caret-up, .anticon-caret-down
								svg
									display: none
							.anticon-caret-up
								&:after
									position: absolute
									left: 5px
									top: calc(50% - 8px)
									content: url('../assets/icons/table-sort-icon.svg')
									transform: rotate(-180deg)
							.anticon-caret-up.active
								&:after
									position: absolute
									left: 5px
									top: calc(50% - 8px)
									content: url('../assets/icons/table-sort-icon.svg')
									transform: rotate(0deg)
							.anticon-caret-down.active
								&:after
									position: absolute
									left: 5px
									top: calc(50% - 8px)
									content: url('../assets/icons/table-sort-icon.svg')
									transform: rotate(-180deg)
			.ant-table-column-title
				color: $textColor-gray-900
				font-weight: 700
				font-size: 12px
				flex: initial
		// Telo tabulky
		tbody
			// riadok
			// selectnuty
			tr.ant-table-row-selected
				color: $textColor-gray-900
				border-radius: 4px
				td
					button.noti-table-btn
						visibility: visible !important
				td:first-child
					border-top-left-radius: 4px
					border-bottom-left-radius: 4px
				td:last-child
					border-top-right-radius: 4px
					border-bottom-right-radius: 4px
				td
					background: $backgroundColor-gray-100 !important
				&:hover
					td
						background: $backgroundColor-gray-100 !important
			// clickable
			tr.ant-table-row.clickable-row
				cursor: pointer
			// normlany
			tr.ant-table-row
				height: 20px
				// dropdown state pre riadok
				&.drop-over-downward
					outline: 2px solid $borderColor-notino-black
				&.drop-over-upward
					outline: 2px solid $borderColor-notino-black
				td
					button.noti-table-btn
						visibility: hidden
						transition: none

				&.disable-hover-row
					cursor: auto
					&:hover
						td, td.ant-table-column-sort
							background: white
							button.noti-table-btn
								visibility: visible
								svg
									color: $textColor-gray-900 !important
				&:hover
					color: $textColor-gray-900 !important
					td.with-input
						.noti-input,
						.noti-input-number
							background-color: $backgroundColor-gray-200
					td, td.ant-table-column-sort
						background: $backgroundColor-gray-100
						button.noti-table-btn
							visibility: visible
							svg
								color: $textColor-gray-900 !important
				td:first-child
					border-top-left-radius: 4px
					border-bottom-left-radius: 4px
				td:last-child
					border-top-right-radius: 4px
					border-bottom-right-radius: 4px
				td.ant-table-column-sort
					background: none
				td
					border: none
				// zmazany zaznam
				&.deleted-table-item
					background: $backgroundColor-red-50 !important
					color: $textColor-red-700 !important
					&:hover
						color: $textColor-gray-900 !important
	.ant-table-footer
		background: $backgroundColor-white
		margin-top: 16px
		padding: 0

.table-custom-pagination
	position: sticky
	bottom: 0
	margin-left: -24px
	margin-top: 24px
	margin-bottom: -24px
	background: $backgroundColor-gray-50
	z-index: $z-index-five
	width: calc(100% + 48px)
	padding: 6px 24px

	.ant-pagination
		margin: 0

	.custom-dropdown
		position: relative
		font-size: 14px
		color: $textColor-trueGray-700

		.selector
			border: none
			border-radius: 4px
			background-color: $backgroundColor-gray-100
			height: 32px
			padding: 0 30px 0 12px
			display: flex
			align-items: center
			position: relative
			transition: 300ms ease
			cursor: pointer
			color: $textColor-trueGray-700
			&::before
				position: absolute
				z-index: 1
				content: ''
				border-radius: 4px
				transition: 300ms
				transition-property: background-color opacity
				top: calc(50% - 10px)
				right: 10px
				width: 20px
				transform: rotate(270deg)
				height: 20px
				background: url('../assets/icons/arrow.svg') no-repeat center center
			&:not(:disabled)
				&:hover,
				&:focus-visible
					background-color: $backgroundColor-gray-200
			&:disabled
				color: $textColor-gray-400
				cursor: not-allowed
				&::before
					opacity: 0.4
		&-menu
			position: absolute
			bottom: calc(100% + 4px)
			background: #fff
			width: 100%
			box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%)
			line-height: 1.5715
			border-radius: 2px
			transform: scale(1,0)
			transform-origin: bottom
			opacity: 0
			transition: opacity 150ms ease, transform 150ms ease-in-out

			ul
				margin: 0
				padding: 0
				list-style: none
				li
					padding: 6px 12px
					cursor: pointer
					transition: 300ms ease
					&:hover
						background-color: $backgroundColor-gray-200
					&.selected
						background: $backgroundColor-black
						color: $textColor-white
		&.is-open
			.custom-dropdown-menu
				transform: scale(1)
				opacity: 1
			button
				color: $textColor-notino-gray
				&::before
					opacity: 0.2

