@import tailwind-variables
@import "variables"

.ant-tabs.noti-tabs
	.ant-tabs-ink-bar
		background-color: $backgroundColor-notino-pink
	.ant-tabs-tab
		font-size: 1rem
		padding: 12px 2px
		color: $textColor-notino-pink
		&.ant-tabs-tab-active
			.ant-tabs-tab-btn
				color: $textColor-notino-pink
				text-shadow: 0 0 0.8px currentColor
		.ant-tabs-tab-btn,
		.ant-tabs-tab-remove
			border-radius: 2px
			@include baseOutlineStyle()
			outline-offset: 0
			&:focus-visible
				@include focusOutlineStyle($borderColor-notino-pink)
				outline-offset: 0
	&.tabs-small
		height: 32px
		.ant-tabs-nav
			margin-bottom: 0
		.ant-tabs-content-holder
			display: none
		.ant-tabs-tab
			font-size: 14px
			line-height: 16px
			padding: 8px 2px
			& +.ant-tabs-tab
				margin: 0 0 0 16px


.ant-tabs-nav
	margin: 0

.ant-tabs-nav-add
	position: relative
	width: 40px
	height: 50px
