@import tailwind-variables
@import "variables"

.ant-tabs.noti-tabs
	.ant-tabs-ink-bar
		background-color: $backgroundColor-notino-pink
	.ant-tabs-tab
		font-size: 1rem
		color: $textColor-notino-pink
		&.ant-tabs-tab-active
			.ant-tabs-tab-btn
				color: $textColor-notino-pink
				text-shadow: 0 0 0.8px currentColor
	&.tabs-small
		height: 32px
		.ant-tabs-nav
			margin-bottom: 0
		.ant-tabs-content-holder
			display: none
		.ant-tabs-tab
			font-size: 14px
			line-height: 16px
			padding: 8px 0
			& +.ant-tabs-tab
				margin: 0 0 0 16px
