@import tailwind-variables
@import "variables"

.ant-form-item
	.ant-input.noti-textarea
		border-radius: 8px
		font-size: $input-font-size
		&.ant-input-lg
			font-size: $input-large-font-size
	&.noti-placeholder-dark
		.ant-input.noti-textarea
			&::placeholder
				color: $textColor-notino-grayDarker !important


.ant-form-item:not(.ant-form-item-has-error)
	// Normal state
	.ant-input.noti-textarea
		border: 1px solid $borderColor-notino-grayLight
		&:not(:disabled)
			&:hover
				border: 1px solid $borderColor-notino-grayDark
			&:focus
				border: 1px solid $borderColor-notino-black
				box-shadow: $field-shadow-focus-default
			&::placeholder
				color: $borderColor-notino-gray
