@import tailwind-variables
@import "variables"

.ant-tree-focused:not(:hover):not(.ant-tree-active-focused)
	@include focusOutlineStyle()

// Basic tree
.ant-tree.noti-tree
	.ant-tree-node-content-wrapper.ant-tree-node-selected
		background-color: $backgroundColor-notino-black
		color: $textColor-notino-white
	.ant-tree-list
		.ant-tree-list-holder
			.ant-tree-list-holder-inner
				.ant-tree-treenode
					.ant-tree-indent,
					.ant-tree-draggable-icon,
					.ant-tree-switcher
						flex: 0 0 auto
	.ant-tree-treenode-active
		.ant-tree-node-content-wrapper
			@include focusOutlineStyle()

// services tree
.noti-services-tree
	.ant-tree-treenode-active
		.ant-tree-node-content-wrapper
			@include focusOutlineStyle()
	.ant-tree-list
		.ant-tree-list-holder
			.ant-tree-list-holder-inner
				.ant-tree-treenode
					flex-direction: row-reverse
					align-items: stretch
					.ant-tree-checkbox
						display: flex
						flex-direction: column
						justify-content: center
						margin-right: 0
						padding-right: 16px
						.ant-tree-checkbox-inner
							border-radius: 50%
							width: 20px
							height: 20px
							background: $backgroundColor-notino-white
							border: 1px solid $borderColor-notino-gray
						&.ant-tree-checkbox-indeterminate
							.ant-tree-checkbox-inner
								&::after
									width: 12px
									height: 12px
									border-radius: 50%
									background: $backgroundColor-notino-pink
						&.ant-tree-checkbox-checked
							.ant-tree-checkbox-inner
								border-radius: 50%
								width: 20px
								height: 20px
								background: $backgroundColor-notino-pink
								border: 1px solid $borderColor-notino-pink
								&::after
									left: 5px
							&::after
								border: none
							&:hover
								outline: none
					.ant-tree-node-content-wrapper
						padding: 8px 16px
					.ant-tree-indent
						display: none
					&:hover
						.ant-tree-checkbox
							.ant-tree-checkbox-inner
								border-color: $backgroundColor-notino-pink
					&.noti-tree-node-0
						font-size: 16px
						border-bottom: 1px solid rgba(0, 0, 0, 0.06) // antd divider color
						font-weight: 700
						margin-bottom: 4px
						.ant-tree-node-content-wrapper
							padding-left: 0
						.ant-tree-switcher
							display: none
						&:hover
							color: $textColor-notino-black
					&.noti-tree-node-1
						position: relative
						font-weight: 700
						font-size: 16px
						padding-left: 16px
						padding-bottom: 0
						.ant-tree-node-content-wrapper
							margin-left: 8px
							padding-left: 8px
						.ant-tree-switcher
							position: absolute
							left: 0
							top: 50%
							transform: translateY(-50%)
							display: flex
							align-items: center
							justify-content: center
							width: 20px
							height: 20px
							transition: background-color 300ms ease
							border-radius: 2px
							&:hover
								background-color: $backgroundColor-trueGray-200
								& ~ .ant-tree-node-content-wrapper
									color: $textColor-trueGray-700
								& ~ .ant-tree-checkbox .ant-tree-checkbox-inner
									border-color: $borderColor-notino-gray
						&:hover
							color: $textColor-notino-black
					&.noti-tree-node-2
						margin: 1px 0 1px 16px
						border-radius: 4px
						background: $backgroundColor-trueGray-100
						transition: background 300ms ease
						.ant-tree-switcher
							display: none
						&:hover
							background: $backgroundColor-trueGray-200
							color: $textColor-notino-black
						&.ant-tree-treenode-checkbox-checked
							background: $backgroundColor-trueGray-200
