@import tailwind-variables
@import "variables"

.ant-tree-focused:not(:hover):not(.ant-tree-active-focused)
	@include focusOutlineStyle()

// Basic tree
.ant-tree.noti-tree
	.ant-tree-node-content-wrapper.ant-tree-node-selected
		background-color: $backgroundColor-notino-black
		color: $textColor-notino-white
	.ant-tree-list
		.ant-tree-list-holder
			.ant-tree-treenode
				align-items: center
			.ant-tree-list-holder-inner
				.ant-tree-treenode
					.ant-tree-indent,
					.ant-tree-draggable-icon,
					.ant-tree-switcher
						flex: 0 0 auto
	.ant-tree-treenode-active
		.ant-tree-node-content-wrapper
			@include focusOutlineStyle()
