// Variables

$font-family: 'Public Sans'

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default

$z-index-spinner: 1000
$z-index-five: 5 // Globalny z index 5
$z-index-ten: 10 // Globalny z index 10

$z-index-field-dropdown: 10 // 1.Select dropdown options
$z-index-content-header: 20 // 2.fixny tab panel
$z-index-fixed-header: 30 // 3.Fixny header
$z-index-overlay: 1000 // custom overlay
$z-index-box-shadow: 40 // box shadow v buttonoch pri hoveri niekedy musi prekryt tabulku

$input-font-size: 14px

$header-height: 50px
$footer-height: 60px
$footer-table-height: 40px

$min-supported-resoulution: 744px

// input
$field-shadow-focus-default: 0px 0px 4px rgba(0, 0, 0, 0.5)
$field-shadow-focus-error: 0px 0px 4px rgba(255, 0, 0, 0.5)

$btn-shadow-hover-default: 0px 8px 24px rgba(0, 0, 0, 0.24), 0px 4px 14px rgba(0, 0, 0, 0.14), 0px 2px 4px rgba(0, 0, 0, 0.16)

$content-box-shadow: 0px 10px 25px 10px rgb(0 0 0 / 10%)

$background-gradient: linear-gradient(180deg, rgba(198, 151, 109, 0) 0%, rgba(159, 126, 96, 0.4) 89.21%), #FFFFFF

$focus-outline-color: rgba($borderColor-notino-black, 0.5)
$focus-outline-width: 2px
$focus-outline-danger: $textColor-red-600
$focus-outline-link: $textColor-notino-pink

@mixin baseOutlineStyle()
	outline-color: transparent
	outline-width: $focus-outline-width
	outline-offset: 1px

@mixin focusOutlineStyle($outlineColor: $focus-outline-color)
	outline-color: $outlineColor
	outline-width: $focus-outline-width
	outline-offset: 1px
	transition: outline-color 200ms ease
