@import tailwind-variables
@import "variables"
@import "typography"

.form
	min-width: 296px
	position: relative

.ant-form
	color: $textColor-notino-black

.ant-form-item
	margin-bottom: 1.5rem

@media (max-width: $min-supported-resoulution)
	.ant-form-item
		margin-bottom: 1rem

// Label
.ant-form-item-label,
.ant-form-vertical .ant-form-item-label // this is for higher specificity so it can override the original style
	padding-bottom: 4px
	label
		color: $textColor-notino-black

.noti-input-label
	&.required:before
		display: inline-block
		margin-right: 4px
		color: $textColor-red-500
		font-size: 14px
		font-family: SimSun, sans-serif
		line-height: 1
		content: '* '
		vertical-align: text-top

// Error form item
.ant-form-item-control
	.ant-form-item-explain.ant-form-item-explain-error
		padding-top: 0
		min-height: 1rem
		margin-top: 0.25rem
		@extend .s-regular

// Forms
// .form
// 	width: calc(420px + 10%)
// 	min-height: 100px
// 	border-radius: 2px
// 	background: $textColor-white

// .login-form,
// .create-password-form,
// .forgot-password-form,
// .create-user-form,
// .confirm-user-form,
// .update-user-form
// 	width: 518px
// 	padding: 25px
// 	min-height: 100px
// 	border-radius: 4px
// 	background: $backgroundColor-gray-50

// // Label
// .ant-form-item-label
// 	padding-bottom: 0 !important
// .ant-form-item
// 	margin-bottom: 6px

// .ant-form-item-label label,
// .noti-input-label
// 	margin-left: 3px
// 	color: $textColor-gray-900
// 	font-weight: 600
// 	padding: 2px
// 	&.required:before
// 		display: inline-block
// 		margin-right: 4px
// 		color: #ff4d4f // ant required color
// 		font-size: 14px
// 		font-family: SimSun, sans-serif
// 		line-height: 1
// 		content: '* '
// 		vertical-align: text-top

// .form-floating-item
// 	height: 40px
// 	width: calc(100% + 48px)
// 	margin: -24px
// 	padding: 12px 24px
// 	background-color: $backgroundColor-gray-200
// // Error form item
// .ant-form-item-control
// 	.ant-form-item-explain.ant-form-item-explain-error
// 		padding-top: 0
// 		min-height: 16px

// .language-content-2
// 	position: absolute
// 	right: 4px
// 	top: 4px
// 	display: flex
// 	align-items: center
// 	justify-content: end
// 	cursor: pointer
