@use 'sass:math'
@import tailwind-variables
@import "variables"
@import "typography"
@import "input"
@import "input-number"
@import "textarea"
@import "date"
@import "date-range-picker"
@import "modal"
@import "select"
@import "layout"
@import "collapse"
@import "form"
@import "button"
@import "table"
@import "pin"
@import "pagination"
@import "breadcrumbs"
@import "tree"
@import "switch"
@import "time-range-picker"

$searchProductTop: 166px

*, input, textarea, button
	font-family: '#{$font-family}', #{$font-family-sans-serif} !important
	font-feature-settings: normal!important
	font-variant: normal!important

html
	scroll-behavior: smooth

html, body
	height: 100%
	width: 100%
	margin: 0

body, .ant-layout
	color: $textColor-black
	background: $backgroundColor-notino-grayLighter
	font-size: initial

*:focus-visible
	outline-color: $borderColor-blue-600
	transition-property: outline-color
	transition-duration: 0s

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover
	color: $textColor-gray-600

// Matus v Designe vo vacsine pripadov pouziva zmensenu formu ikony vo velkosti 16x16, tak staci aplikovat tuto pomocnu classku na <Ikona className={'small-icon'} />
.small-icon
	width: 16px
	height: 16px
.big-icon
	width: 32px
	height: 32px
.text-bottom
	display: inline-block
	align-self: flex-end
.hover-icon
	filter: grayscale(100%)

.hide
	display: none !important

.show
	display: block !important

.disabled-icon
	filter: grayscale(100%)
	opacity: .3
.disabled-row
	height: 50px
	pointer-events: none
	td
		opacity: .4
		background: $backgroundColor-gray-50 !important
.disabled-state
	pointer-events: none
	position: relative
	.ant-table-column-title // pre tabulky extra classa ktora niekedy neprebila title v tabulakch tymto disabled statom
		color: $textColor-gray-900
		opacity: .6
	&:after
		content: ''
		background: $backgroundColor-gray-50
		position: absolute
		width: 100%
		top: 0
		opacity: .4
		height: 100%

.loading-spinner
	animation: rotate 1.5s linear infinite
	position: relative
	background: transparent !important

@keyframes rotate
	to
		transform: rotate(360deg)

.ant-picker
	border-radius: 8px

.ant-picker-dropdown
	.ant-picker-cell-inner
		text-align: center
.ant-select-dropdown, .ant-picker-dropdown
	z-index: $z-index-field-dropdown
.horizontal-top-divider
	border-top: 1px solid $borderColor-gray-200
.horizontal-left-divider
	border-left: 1px solid $borderColor-gray-200
.horizontal-right-divider
	border-right: 1px solid $borderColor-gray-200
.vertical-divider
	width: 100%
	margin-bottom: 6px
	margin-top: 6px
	border-bottom: 1px solid $borderColor-gray-200
.vertical-divider-px
	width: 100%
	height: 1px
	background-color: $borderColor-gray-200
.horizontal-divider
	margin-left: 4px
	margin-right: 4px
	height: 60%
	border-left: 1px solid $borderColor-gray-200
.vertical-divider-lg
	margin-bottom: 32px
	margin-top: 32px
	border-bottom: 1px solid $borderColor-gray-200

.my-handle
	cursor: move
	cursor: -webkit-grabbing

.ant-tabs-nav-add
	position: relative

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left
	border-right: 0

.ant-menu-submenu.ant-menu-submenu-horizontal.ant-menu-submenu-selected
	background-color: $textColor-primary
	color: $textColor-white

.noti-badge .ant-badge-count
	display: flex
	justify-content: center
	background-color: $backgroundColor-gray-100
	color: $textColor-gray-900
	z-index: $zIndex-10
.ant-radio-button-wrapper
	// NOTE: important because of badge compoennt
	border-left: 1px solid #d9d9d9 !important
.readOnly
	cursor: not-allowed
	.noti-select-input,
	.noti-input,
	.noti-textarea,
	.noti-date-input,
	.noti-input-number
		pointer-events: none
.clickable-row
	cursor: pointer
	&:hover
		transition: all 300ms linear
		background: #FAFAFA
.disabled-counter
	// NOTE: importanty kvoli tomuz e tailwind prebija hover a cursor nastaveny v Counter komonente
	background-color: $backgroundColor-gray-100
	color: $textColor-gray-600
	cursor: not-allowed !important
	&:hover
		background-color: $backgroundColor-gray-100 !important

.ant-list-item-meta-description
	font-size: 12px
	color: $backgroundColor-gray-800

.ant-list-item-meta
	display: flex
	align-items: center

.stepper-wrapper
	background: $textColor-white
	height: 100%
	position: relative
	padding: 24px
	.stepper-title
		margin-bottom: 45px
		&::after
			content: ''
			position: absolute
			top: 73px
			left: 50%
			transform: translateX(-50%)
			width: 100%
			height: 1px
			background-color: $textColor-gray-600
.shadow-footer
	box-shadow: 0px -16px 64px rgba(0, 0, 0, 0.06), 0px -12px 24px rgba(0, 0, 0, 0.04), 0px -6px 8px rgba(0, 0, 0, 0.02)
.shadow-header
	z-index: 5
	box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.06), 0px 12px 24px rgba(0, 0, 0, 0.04), 0px 6px 8px rgba(0, 0, 0, 0.02), inset 0px 1px 0px #E5E7EB

.info-icon
	height: 20px
	font-size: 16px
	margin-top: 7px
	color: $textColor-primary

.ant-steps-item-container
	margin-bottom: 26px

.ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail
	height: 70px

.ant-tag
	min-width: 95px
	text-align: center
	padding: 3px

.ant-tag.tag-rounded
	display: flex
	align-items: center
	margin-right: 1px
	margin-top: 1px
	padding: 1px 8px
	border-style: solid
	border-radius: 16px
	background: $textColor-gray-100
	border-color: $textColor-gray-100
	color: $textColor-gray-600
	min-width: min-content
	.ant-divider
		margin: 0 4px
		border-color: $textColor-gray-200
	img
		padding-bottom: 1px
		filter: grayscale(100%)
		opacity: .6
.ant-tag.tag-rounded:hover
	background: $textColor-gray-200
	border-color: $textColor-gray-200
	.ant-divider
		border-color: $textColor-gray-300
	img
		filter: initial
		opacity: 1

.ant-tabs-nav-add
	width: 40px
	height: 50px

.icon-size-20
	font-size: 20px

.center
	margin: 0 auto

.icon-size-25
	font-size: 20px
h4.ant-typography
	margin-bottom: 0
	font-size: 16px
.flex-wrap
	display: flex
	flex-wrap: wrap

.flex-center-align-left
	height: 100%
	display: flex
	align-items: center
	justify-content: left

.hover-transition
	transition: all 200ms linear
	&:hover
		transition: all 300ms linear
		transform: scale(1.2)

.small-input.ant-input,
.small-input .ant-input-number-input
	padding: 0 2px
	height: 25px
	font-size: 12px
	margin: 0
.ant-list-item-action
	display: flex
	align-items: center

.rotate-180
	transform: rotate(180deg)
// Wrapper ak sa k suborom pristupuje z obrazovky galerii (destinacie, ubyt. zariadenie, sluzby)
.gallery-wrapper
	.folders-wrapper
		height: calc(100vh - 374px)
	.files-wrapper
		height: calc(100vh - 519px)
	.images-wrapper
		height: calc(100vh - 380px)
	.ant-tabs-tab
		margin-bottom: 20px
		font-size: 14px
		color: $textColor-gray-600
	.ant-tabs-nav
		height: 48px
		margin-bottom: 20px

.file-title
	height: 32px
	display: flex
	justify-content: space-between
	align-items: center
.list-buttons
	display: flex
	align-items: center
	justify-content: space-between
	width: 75px
	.active
		font-size: 28px
.ant-list-item
	&:hover
		background: #FAFAFA
.file
	width: 133px
	margin: 10px
	padding: 5px
	&:hover
		cursor: pointer
		background: $textColor-gray-600

.ant-select-clear
	background: none

.folders-wrapper
	border: 1px solid $textColor-gray-200
	height: calc(100vh - 319px)
	border-radius: 4px
	overflow: auto
	position: relative
	padding: 8px
	background-color: $backgroundColor-gray-50
	.empty-folders
		position: absolute
		width: 100%
		top: calc(50% - 130px)
.files-wrapper
	padding: 8px
	border: 1px solid $textColor-gray-200
	border-radius: 4px
	height: calc(100vh - 464px)
	overflow: auto
	background-color: $backgroundColor-gray-50
	position: relative

.files-search-wrapper
	border: 1px solid $textColor-gray-200
	height: 100%
	border-radius: 4px
	background-color: $backgroundColor-gray-50
	overflow: auto
	position: relative
	.empty-files
		position: absolute
		width: 100%
		top: calc(50% - 70px)

.address-name-width
	width: calc(100% - 30px)

#uploader > div
	display: inline-block

.images-wrapper
	height: calc(100vh - 377px)
	overflow: auto
	position: relative
	border-radius: 4px
	border: 1px solid $borderColor-gray-200
	background-color: $backgroundColor-gray-50
	.placeholder
		position: absolute
		top: 50%
		justify-content: center
		width: 100%
		.ant-typography
			text-align: center
		.anticon-drag
			font-size: 70px
			color: rgba(0, 0, 0, 0.45)

.gallery
	.total-images
		height: 24px
		line-height: 24px

.files-component-wrapper
	.ant-upload-picture-card-wrapper // horizontalny scroll
		overflow: auto
		background-color: $backgroundColor-gray-50
		border-radius: 4px
		border: 1px solid $textColor-gray-200
	.ant-upload-list.ant-upload-list-picture-card
		display: inline-flex
		vertical-align: top
	.ant-upload-select-picture-card
		margin: 0
		.ant-upload-list-picture-card-container
			order: 2
		.ant-upload-select
			order: 1 // Uploader item na prvom mieste
	// NOTE: disable hover on picture-card in Upload
	.ant-upload-list-picture .ant-upload-list-item:hover, .ant-upload-list-picture-card .ant-upload-list-item:hover
		.ant-upload-list-item-info::before
			opacity: 0

// antd descripotion
.ant-descriptions-row
	.ant-descriptions-item
		padding-right: 7px

.ant-tabs-nav
	margin: 0

.col-container
	.ant-spin-nested-loading
		height: 100%
		.ant-spin
			height: 100%
	.ant-spin-container
		height: 100%

.files
	flex-wrap: wrap

.row-container
	min-height: 110px
.room-counter-item
	&:first-child
		margin-top: 0

.thumbnails
	position: relative
	margin: 10px 10px 20px 10px
	&.cursor-move
		.ant-image-mask
			cursor: move
	.overlay
		display: flex
		border-radius: 4px
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, .7)
		position: absolute
		visibility: hidden
		opacity: 0
		z-index: 2
		transition: all 300ms linear
		&::after
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translateX(-50%)
			width: 80%
			height: 1px
			background-color: $backgroundColor-white
		&::before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translateY(-50%)
			height: 80%
			width: 1px
			background-color: $backgroundColor-white
	.photo-item
		width: 110px
		height: 86px
		img, .ant-image
			border-radius: 4px
			height: 100%
			width: 100%
			object-fit: cover
			.ant-image-mask
				border-radius: 4px
			.ant-image-mask-info
				display: none
		.display-name
			text-align: center
			width: 100%
	.unassing-icon
		height: 24px
		width: 24px
		display: flex
		justify-content: center
		align-items: center
		z-index: 5
		right: -11px
		top: -10px
		border-radius: 50%
		position: absolute
		background: $backgroundColor-red-200
		visibility: visible
		opacity: 0
		transition: all 300ms linear
	.preview-icon
		height: 24px
		width: 24px
		display: flex
		justify-content: center
		align-items: center
		z-index: 5
		right: -11px
		top: 17px
		border-radius: 50%
		position: absolute
		background: $backgroundColor-blue-200
		visibility: visible
		opacity: 0
		transition: all 300ms linear
	&:hover, &:focus, &:focus-within
		.overlay, .unassing-icon, .preview-icon
			opacity: 1
			visibility: visible
.ghost
	.thumbnails
		opacity: 0.6
		position: relative
		outline: 2px solid $borderColor-emerald-600
.filtered
	.thumbnails
		opacity: 0.6
		position: relative
		outline: 2px solid $borderColor-red-600
	.thumbnails
		cursor: not-allowed
// Components
.breadcrumbs
	margin: 10px 0 10px 0
	width: 100%
	.last
		span
			color: $textColor-gray-900 !important

.suspense-loading-spinner
	position: fixed
	top: 0
	left: 0
	z-index: $z-index-spinner
	background: $backgroundColor-gray-200
	width: 100%
	height: 100%
	display: flex
	justify-content: center
	align-items: center

	.ant-spin-dot-item
		background-color: $backgroundColor-notino-black
// Pages
.separator
	border-right: 1px solid #d6d4d4 !important

.ant-spin-blur
	overflow: visible

#header-container
	position: fixed
	z-index: $z-index-fixed-header
	width: 100%
// Fakovy checkbox kedze potrebujem simulovat onClick nad checkboxom a ten ho nema tak sa onClick bude robit nad tymto divkom
.fake-checkbox
	width: 24px
	height: 24px
	border: 1px solid #d9d9d9
	border-radius: 4px
	&:hover
		border-color: $borderColor-gray-900
.select-category
	min-height: 280px
	background-color: $backgroundColor-white
	padding: 24px
	border-radius: 4px
	position: relative
	box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.06), 0px 12px 24px rgba(0, 0, 0, 0.04), 0px 6px 8px rgba(0, 0, 0, 0.02)
	&.active
		background-color: $backgroundColor-blue-600
		.icon
			color: $textColor-white
		.title
			color: $textColor-white
		.price, .description
			color: $textColor-blue-300
	.icon
		color: $textColor-blue-600
	.price
		color: $textColor-gray-600
		font-size: 16px
		font-weight: normal
		width: 34%
		text-align: right
	.title
		width: 64%
		color: $textColor-gray-900
		font-size: 16px
		font-weight: 600
	.description
		width: 100%
		margin-top: 10px
		color: $textColor-gray-600
		font-size: 14px
		font-weight: normal
	.additional-service-select
		width: calc(100% - 48px)
		position: absolute
		bottom: 24px

.ant-table-thead > tr > th
	background-color: $textColor-white
	color: $textColor-gray-900
	font-weight: 500

// NOTE: Ak v hlavičke jedna bunka pod seba groupuje jednu bunku odstráň border, ant s týmto prípadom nepočíta
.ant-table-thead > tr:not(:last-child) > th:not([colspan])
	border-bottom: 0

.ant-table-column-sorters
	padding: 0 0 0 5px

.ant-table
	thead
		tr
			th
				height: 25px
	th.ant-table-column-sort
		background: none
.margin-0
	margin: 0
.search-result-table
	.ant-table-column-sorters
		&:hover
			.ant-table-column-title
				color: $textColor-gray-900 !important

	.ant-checkbox-inner
		width: 24px
		height: 24px
	.ant-table-cell
		&:before
			content: none !important
	table
		border-spacing: 0 4px // TODO: tento spacing bude na kazdej tabulke ked bude kazda border less
	.ant-table-row
		border-radius: 4px
		td:first-child
			border-top-left-radius: 4px
			border-bottom-left-radius: 4px
		td:last-child
			border-top-right-radius: 4px
			border-bottom-right-radius: 4px
	tr.ant-table-row-selected
		border-radius: 4px
		td:first-child
			border-top-left-radius: 4px
			border-bottom-left-radius: 4px
		td:last-child
			border-top-right-radius: 4px
			border-bottom-right-radius: 4px
		td
			background: $backgroundColor-gray-100
		&:hover
			td
				background: $backgroundColor-gray-100
	.ant-table-tbody
		tr.ant-table-row-selected
			td
				.template-name-title
					span, svg
						color: $textColor-blue-600

	.ant-table-thead
		font-weight: bold
		color: $textColor-gray-900
		tr
			th
				font-weight: 700
				font-size: 12px
				border-bottom: 1px solid $borderColor-gray-200
			th.ant-table-column-has-sorters
				&:hover
					background: none
	tr:hover
		td:first-child, h5, path
			color: $textColor-gray-900
	// TODO: border pre td zrusit gloalne pre kazdu tabulku
	tr
		td
			height: 35px
			border: none
		td:first-child, th:first-child
			text-align: left!important
	tr:not(.ant-table-row-selected)
		td.ant-table-column-sort
			background: none // zmaze sede pozadie ak ma sltpec sorter

	.ant-table-row-selected
		td:first-child, h5, path
			color: $textColor-blue-600
	.ant-table-thead th.ant-table-column-has-sorters
		cursor: default
	.ant-checkbox-inner
		border-radius: 4px
	.ant-checkbox-checked::after
		border-radius: 4px
	.ant-table-column-sorter
		.ant-table-column-sorter-inner
			display: none

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td
	padding: 6px

// Riadok trasa v AIR / BUS zastavok
td.ant-table-cell.track
	.pin.last:after
		content: none
	.pin:after
		content: ''
		position: absolute
		top: 14px
		right: 5px
		width: 1px
		height: 31px
		z-index: $z-index-five
		border: 1px dashed $borderColor-gray-200

.ant-table-row-dragging
	background: $textColor-gray-200
	border: 1px solid $textColor-gray-600
	td
		padding: 6px
		visibility: hidden
	.drag-visible:first-of-type
		width: 32px
	.drag-visible
		visibility: visible

.ant-select-dropdown
	padding: 0px

.user-header
	color: #fff !important
	width: 100%
	margin: 4px 0 0 10px
	font-size: 0.9rem
	max-width: 210px

.rc-virtual-list
	overflow-y: auto

.ant-collapse > .ant-collapse-item
	border-bottom: none

.room-index
	display: flex
	align-items: center
	justify-content: center
	width: 20px
	height: 20px
	color: $textColor-gray-600
	font-size: 10px
	border: 2px solid $borderColor-gray-600
	border-radius: 999px
.ghost-filters.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header
	padding: 0
	display: block

.ghost-filters.ant-collapse > .ant-collapse-item > .ant-collapse-header
	cursor: default

.ghost-filters .ant-collapse-content > .ant-collapse-content-box
	padding-left: 0

.ghost-filters.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box
	padding: 0

.text-description-row
	flex-wrap: nowrap

	.ant-col + .ant-col
		margin-left: 8px

.term-serial-section
	.ant-collapse-header
		display: inline-block

.destinations-tree
	&.ant-tree
		.ant-tree-node-content-body
			&.ant-tree-node-selected
				background-color: $textColor-white
				color: $textColor-primary
			&.ant-tree-node-content-body-normal, &.ant-tree-node-content-body-open, &.ant-tree-node-content-body-close
				&:hover
					background-color: $textColor-white
					color: $textColor-primary

// NOTE: NOVY DESIGN -----------------------------------------
.vertical
	display: flex
	flex-direction: column

// multiselect
.multiselect-dropdown-lg
	top: 210px!important
	border-radius: 0 0 4px 4px
	.ant-select-item
		&.ant-select-item-group:first-child
			min-height: 0
			background: white
			border-style: solid
			border-width: 0
			border-top-width: 4px
			border-color: white
		&.ant-select-item-group
			box-sizing: content-box
			min-height: 1px
			margin-left: 8px
			margin-right: 8px
			padding: 0
			background: $textColor-gray-200
			opacity: .5
			border-style: solid
			border-width: 0
			border-top-width: 8px
			border-bottom-width: 4px
			border-color: white
		&.ant-select-item-option
			height: 16px !important
			border-top-width: 4px !important
			span // option label
				color: $textColor-gray-600
			&:after
				content: url('../assets/icons/checkbox-default.svg')
				transition-property: opacity
				transition-duration: 500ms
				opacity: 0
				line-height: 0
			&.ant-select-item-option-active
				color: $textColor-gray-900
				background: $textColor-gray-100
				border-radius: 4px
				img.icon
					opacity: 1
			&.ant-select-item-option-active:after
				opacity: 1
			&.ant-select-item-option-selected
				color: $textColor-blue-600
				border-radius: 4px
				background: $textColor-gray-100
				font-weight: initial
				display: flex
				align-items: center
				span // option label
					color: $textColor-blue-600
			&.ant-select-item-option-selected:after
				content: url('../assets/icons/checkbox-active.svg')
				opacity: 1
			&:hover
				span // option label
					color: $textColor-gray-900

.advanced-filters-list
	.ant-collapse-item
		.ant-collapse-header
			text-align: center
			color: $textColor-blue-600
			span.anticon
				position: absolute
				left: calc(50% + 90px)

.advanced-filters-dropdown
	.ant-collapse-item
		.ant-collapse-header
			padding: 0
		.ant-collapse-content
			.ant-collapse-content-box
				padding: 24px
a
	color: $textColor-notino-black
	&:hover
		color: $textColor-notino-grayDark

.ant-progress-steps-item-active
	background: $backgroundColor-notino-black

.ant-progress-status-success .ant-progress-text
	color: $textColor-green-600

.noti-svg-color svg
	& path
		stroke: $backgroundColor-notino-black

.ant-spin-dot-item
	background-color: $backgroundColor-notino-black

.noti-my-account
	max-width: calc(100% - 24px)
	.item-label
		max-width: 77%

.phone-prefix
	width: 110px
	margin-right: 8px

.collapse-list.ant-collapse
	background-color: $backgroundColor-notino-white
	> .ant-collapse-item
		background-color: $backgroundColor-trueGray-50
		margin-bottom: 10px
		border-radius: 8px !important
		border: 0
		box-shadow: $backgroundColor-trueGray-100
		> .ant-collapse-header
			color: $textColor-notino-black
			font-weight: bold
			align-items: center
			.ant-collapse-extra
				display: flex

.list-title
	font-size: 18px

.circle
	width: 20px
	height: 20px
	line-height: 20px
	border-radius: 50%
	font-size: 10px
	font-weight: bolder
	color: $textColor-notino-white
	text-align: center
	background: $textColor-notino-black
	margin-left: 5px

span.ant-tag
	border-radius: 8px
	border-color: $textColor-notino-grayDark
	color: $textColor-notino-grayDark

.changed-service-title
	color: $textColor-notino-grayDark
.employee-list
	.employee-list-item
		background-color: $backgroundColor-trueGray-50
		margin-bottom: 10px
		border-radius: 8px
		padding: 12px 16px
		.title
			font-weight: bolder

.noti-phone-prefix-array
	.ant-form-item
		margin: 0

.noti-support-contact-wrapper
	max-width: 640px
	padding: 0 56px
	.contact-row
		.contact-col
			flex: 50%
	.ant-spin-nested-loading > div > .ant-spin
		max-height: 100%
	@media (max-width: 1280px)
		max-width: 496px
		padding: 0 40px
	@media (max-width: 744px)
		max-width: 100%
		padding: 0 0 64px 0
		.ant-select
			max-width: 100% !important

.noti-support-contact-list
	list-style: none
	padding-left: 0
	li
		display: flex
		align-items: flex-start
		gap: 8px
		line-height: 175%
		&::before
			content: ''
			display: block
			width: 16px
			height: 16px
			margin-top: 4px
			flex: 0 0 auto
		&.phone-list-item
			&::before
				background: url("../assets/icons/phone-icon-16.svg") no-repeat center center
		&.email-list-item
			&::before
				background: url("../assets/icons/message-icon-16-thin.svg") no-repeat center center
		&.address-list-item
			&::before
				background: url("../assets/icons/home-icon-16.svg") no-repeat center center
		&.note-list-item
			margin-top: 14px
			&::before
				background: url("../assets/icons/pencil-icon-16.svg") no-repeat center center

.noti-opening-hours-table
	display: flex
	flex-direction: column
	width: fit-content
	margin-bottom: 16px
	.day-row
		min-height: 28px
		display: inline-flex
		align-items: center
		gap: 16px
		&:not(:last-of-type)
			border-bottom: 1px solid $borderColor-notino-grayLight
		.day-name
			width: 120px
			flex: 0 0 auto
		.day-intervals
			display: flex
			gap: 16px
			.day-interval
				width: 85px
	@media (max-width: 1280px)
		.day-row
			.day-name
				width: 100px
	@media (max-width: 744px)
		margin-bottom: 0
	@media (max-width: 450px)
		width: 100%
		.day-row
			flex-direction: column
			align-items: flex-start
			gap: 0
			padding: 4px 0
			.day-name
				font-weight: bold
			.day-intervals
				gap: 8px


.noti-support-collapse
	background: transparent
	max-width: 528px
	.ant-collapse-item
		border-bottom: 1px solid $borderColor-notino-grayLight
		.ant-collapse-header
			padding: 0
			position: relative
			div:first-of-type
				position: absolute
				right: 0
				top: 50%
				transform: translateY(-50%)
	.ant-collapse-content
		.ant-collapse-content-box
			padding: 0

	@media (max-width: 1280px)
		max-width: 416px
		width: 100%
	@media (max-width: 744px)
		max-width: 100%

.noti-alert.ant-alert
	align-items: flex-start
	.anticon
		margin-top: 4px
	&.success-upload-alert
		border-radius: 8px
		border: none
		background: $backgroundColor-notino-grayLight

.noti-tag.ant-tag
	border: none
	border-radius: 999px
	display: flex
	align-items: center
	gap: 4px
	padding: 8px
	max-width: fit-content
	background: $backgroundColor-notino-grayLight
	min-width: 0
	height: 28px
	svg
		flex: 0 0 auto
	span
		color: $textColor-notino-black
		font-size: 10px
		line-height: 12px
		min-width: 0
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
	// TODO: add colors to config file and use variables instead
	&.success
		background: $backgroundColor-green-200
	&.warning
		background: $backgroundColor-yellow-200
	&.danger
		background: $backgroundColor-red-200
	&.info
		background: $backgroundColor-blue-100

.cosmetics-logo
	display: block
	width: 300px
	height: 64px
	object-fit: scale-down
	object-position: left center

.mt-2-5
	margin-top: 10px

.homepage-wrapper
	width: calc(100% + 80px)
	height: calc(100% + 32px)
	background: linear-gradient(180deg, rgba(198, 151, 109, 0) 0%, rgba(159, 126, 96, 0.4) 89.21%), #FFFFFF
	margin: -16px -40px
	position: relative
	padding: 16px 40px
	overflow-y: auto
	display: flex
	flex-direction: column

	.image
		width: 100%
		height: 100%
		max-width: 1000px
		max-height: 90vh
		min-width: 280px
		background: url('../assets/images/homepage-min.png') no-repeat center center
		background-size: contain
		align-self: center

.noti-flag-fallback
	background-color: $backgroundColor-notino-grayLight
	width: 24px
	height: 16px

.address-field-address
	&::before
		content: ''
		display: block
		width: 20px
		height: 20px
		background: url("../assets/icons/location-16.svg") center center no-repeat
		background-size: contain
		flex: 0 0 auto

.checkbox-group-image-wrapper
	display: flex
	flex-wrap: wrap
	gap: 2%
	width: 100%
	margin: 0 auto

	legend
		border-bottom: none
		color: $textColor-trueGray-700
		margin-bottom: 8px
		&.required
			&::before
				display: inline-block
				margin-right: 4px
				color: #ff4d4f // interna antd farba ktora sa nenachadza v nasej palete
				font-size: 14px
				font-family: SimSun,sans-serif
				line-height: 1
				content: "*"

.checkbox-with-image
	width: 23%
	min-width: 160px
	max-width: 220px
	margin-bottom: 16px

	label
		display: block
		width: 100%
		position: relative
		padding-bottom: 100%
		cursor: pointer
		overflow: hidden
		border-radius: 12px
		transition: 300ms ease

		.inner-wrapper
			display: block
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-radius: 12px
			overflow: hidden
			z-index: 1
			background: $textColor-notino-grayLighter center center no-repeat
			background-size: cover

			&::after
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.77%, rgba(0, 0, 0, 0.0526959) 64.37%, rgba(0, 0, 0, 0.524324) 82.54%, rgba(0, 0, 0, 0.76) 100%)
				z-index: 2

			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				border: 2px solid transparent
				z-index: 3
				border-radius: 12px
				transition: border-color 300ms ease

			.checker
				position: absolute
				right: 8px
				top: 8px
				display: block
				width: 24px
				height: 24px
				background: $backgroundColor-notino-white url('../assets/icons/checker-icon.svg') center center no-repeat
				background-size: 12px 12px
				background-position: contain
				border-radius: 50%
				border: 1px solid $borderColor-notino-gray
				z-index: 3
				transition: 300ms ease
				transition-property: background border-color
			.label
				position: absolute
				bottom: 8px
				left: 8px
				right: 8px
				top: 8px
				display: flex
				flex-direction: column-reverse
				font-size: 16px
				line-height: 1.5
				color: $textColor-notino-white
				font-weight: 700
				z-index: 3

		input
			position: absolute
			opacity: 0
			width: 0
			height: 0

			&:checked
				+ .inner-wrapper
					&::before
						border-color: $borderColor-notino-pink
					.checker
						border-color: $borderColor-notino-pink
						background-color: $backgroundColor-notino-pink

			&:hover,
			&:focus-visible
				+ .inner-wrapper
					&::before
						border-color: $borderColor-notino-pink

	button
		width: 100%
		background: transparent
		outline: none
		border: none
		color: $textColor-trueGray-700
		font-size: 14px
		text-align: center
		height: 40px
		transition: 300ms ease
		background: $backgroundColor-notino-grayLight
		border-bottom-left-radius: 12px
		border-bottom-right-radius: 12px
		position: relative
		font-weight: 500

		&::before
			content: ''
			position: absolute
			bottom: 100%
			left: 0
			right: 0
			height: 20px
			background: $backgroundColor-notino-grayLight

		&:not(:disabled)
			cursor: pointer
			&:hover, &:focus-visible
				color: $textColor-notino-pink

		&:disabled
			cursor: not-allowed
			color: $textColor-notino-gray

	&.error
		label
			.inner-wrapper
				.checker
					border-color: $borderColor-notino-red

.category-select-header
	background-color: $backgroundColor-notino-black
	padding: 24px
	min-height: 160px
	overflow: hidden
	border-radius: 16px
	position: relative
	width: 100%
	display: flex
	flex-direction: column
	justify-content: space-between

	.image
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 60%
		max-width: 400px
		min-width: 160px
		background: right center no-repeat
		background-size: cover
		z-index: 2
		opacity: 0.7

	&::before
		content: ''
		display: block
		position: absolute
		top: 0
		bottom: 0
		right: 0
		width: 60%
		max-width: 400px
		min-width: 160px
		background-image: linear-gradient(90deg, $backgroundColor-notino-black 15%, rgba(0, 0, 0, 0) 86.3%)
		z-index: 3

	.label
		position: relative
		z-index: 4
		color: $textColor-notino-white
		font-size: 24px
		font-weight: 500
		max-width: 80%

	.count
		color: $textColor-notino-gray
		font-size: 14px

.noti-services-tree
	.ant-tree-list
		.ant-tree-list-holder
			.ant-tree-list-holder-inner
				.ant-tree-treenode
					flex-direction: row-reverse
					align-items: stretch
					.ant-tree-checkbox
						display: flex
						flex-direction: column
						justify-content: center
						.ant-tree-checkbox-inner
							border-radius: 50%
							width: 20px
							height: 20px
							background: $backgroundColor-notino-white
							border: 1px solid $borderColor-notino-gray
						&.ant-tree-checkbox-indeterminate
							.ant-tree-checkbox-inner
								&::after
									width: 12px
									height: 12px
									border-radius: 50%
									background: $backgroundColor-notino-pink
						&.ant-tree-checkbox-checked
							.ant-tree-checkbox-inner
								border-radius: 50%
								width: 20px
								height: 20px
								background: $backgroundColor-notino-pink
								border: 1px solid $borderColor-notino-pink
								&::after
									left: 5px
							&::after
								border: none
							&:hover
								outline: none
					.ant-tree-node-content-wrapper
						padding: 8px
					.ant-tree-indent
						display: none
					&:hover
						.ant-tree-checkbox
							.ant-tree-checkbox-inner
								border-color: $backgroundColor-notino-pink
					&.noti-tree-node-0
						.ant-tree-switcher
							display: none
					&.noti-tree-node-1
						position: relative
						font-weight: 700
						font-size: 16px
						padding-left: 16px
						.ant-tree-switcher
							position: absolute
							left: 0
							top: 50%
							transform: translateY(-50%)
					&.noti-tree-node-2
						margin: 1px 0 1px 16px
						border-radius: 4px
						background: $backgroundColor-trueGray-100
						transition: background 300ms ease
						.ant-tree-switcher
							display: none
						&:hover
							background: $backgroundColor-trueGray-200
						&.ant-tree-treenode-checkbox-checked
							background: $backgroundColor-trueGray-200
