@import "../tailwind-variables"
@import "../variables"

// event popover
.nc-popover-overlay
	padding: 16px 0
	&.nc-popover-overlay-fixed
		&::before
			content: ''
			position: fixed
			inset: 0
	.ant-popover-content
		padding: 0
	.ant-popover-inner
		box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05)
		background-color: $backgroundColor-notino-white
		border-radius: 6px
		padding: 0
		border: 1px solid $borderColor-notino-grayLight
	.ant-popover-inner-content
		padding: 0
	.ant-popover-arrow
		transform: translateY(-50%) translateX(calc(100% - 1px)) rotate(90deg)
	&.dark-style
		.ant-popover-inner
			position: relative
			background-color: $backgroundColor-notino-grayDarker
			color: $textColor-notino-white
			border-color: $borderColor-notino-grayDarker
			z-index: 2
		.ant-popover-arrow
			z-index: 1
			&::before
				background: $backgroundColor-notino-grayDarker
		.nc-popover-header-button
			color: $textColor-notino-white
			&:hover,
			&:focus-visible
				background-color: rgba(0,0,0,0.1)

.nc-popover-content
	overflow: hidden
	> header
		.state-wrapper
			svg
				width: 16px
				height: 16px
.nc-popover-header-button
	outline: none
	border-radius: 4px
	color: $textColor-notino-black
	font-size: 16px
	line-height: 16px
	cursor: pointer
	transition: all 300ms ease-in-out
	height: 20px
	width: 20px
	white-space: nowrap
	background: $backgroundColor-notino-white
	border: none
	display: flex
	align-items: center
	justify-content: center
	background: transparent
	svg
		width: 16px
		height: 16px
		flex: 0 0 auto
	&:hover,
	&:focus-visible
		background-color: $backgroundColor-notino-grayLight

.employee-avatar
	&.is-deleted
		filter: grayscale(100%)

// day events popover
.nc-events-list-popover-overlay
	&:not(.is-hidden)
		&::before
			content: ''
			position: fixed
			inset: 0
		.ant-popover-content
			padding: 0
		.ant-popover-inner
			box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05)
			background-color: $backgroundColor-notino-white
			border-radius: 8px
			border: 1px solid $borderColor-notino-grayLight
		.ant-popover-inner-content
			padding: 0
		.ant-popover-arrow
			display: none

// customer detail popover
.nc-customer-detail-popover
	&.ant-popover-placement-leftTop
		.ant-popover-arrow
			top: 28px // polovica vysky hlaviky popoveru


#nc-reservations-popover-content-overlay,
#nc-events-list-popover-content-overlay,
#nc-customer-detail-content-overlay
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: transparent
	overflow: hidden
	z-index: 999
	display: none
